@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "DM Sans", sans-serif;
  cursor: default;
}

body {
  display: flex;
  align-items: center;
  background-color: #F8EADC;
  width: 100%;
  height: 100vh;
}
body #root {
  width: 100%;
}
body #root .container {
  width: clamp(300px, 90%, 500px);
  margin: 0px auto;
}
body #root .container .Balance {
  width: 100%;
  padding: 20px;
  background-color: #EC765C;
  border-radius: 12px;
  color: #fff;
}
body #root .container .Balance h3 {
  font-size: clamp(0.9rem, 6vw, 1.5rem);
}
body #root .container .Balance h1 {
  font-size: clamp(1.6rem, 6vw, 3rem);
}
body #root .container .spending-chart {
  background-color: #FFFCF7;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin-top: 15px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #root .container .spending-chart .spending-title {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}
body #root .container .spending-chart .spending-title h1 {
  font-size: clamp(1rem, 6vw, 2rem);
  color: #433629;
}
body #root .container .spending-chart .spending-chart__bars {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars {
  width: 45px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 2.5px;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars .Amount p {
  transition: 0.2s ease-in-out all;
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: #9A928B;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars .bar {
  background-color: #EB755D;
  height: 50px;
  max-height: 200px;
  width: 100%;
  border-radius: 6px;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars .bar.tallest {
  background-color: #74B6BD;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars .date_of_chart {
  margin-top: 10px;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars .date_of_chart p {
  font-size: 0.8rem;
  color: #9A928B;
}
body #root .container .spending-chart .spending-chart__bars .chart_bars:hover .Amount p {
  color: #433629;
  opacity: 1;
}
body #root .container .spending-chart .spending__line {
  background-color: #F7F0E8;
  height: 2px;
  width: 100%;
  margin: 30px 0px;
}
body #root .container .spending-chart .spending__total-spend-per__month {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #root .container .spending-chart .spending__total-spend-per__month p {
  color: #9A928B;
}
body #root .container .spending-chart .spending__total-spend-per__month h4 {
  color: #433629;
}
body #root .container .spending-chart .spending__total-spend-per__month .total_per_month h4 {
  font-size: clamp(1.5rem, 6vw, 3rem);
}
body #root .container .spending-chart .spending__total-spend-per__month .difference-from_last_month {
  text-align: right;
}
body #root .container .spending-chart .spending__total-spend-per__month .difference-from_last_month h4 {
  font-size: clamp(1rem, 5vw, 1.2rem);
}

@media screen and (min-width: 1px) and (max-width: 425px) {
  body #root .container .Balance {
    padding: 15px;
  }
  body #root .container .spending-chart {
    padding: 15px;
  }
  body #root .container .spending-chart .spending-chart__bars .chart_bars .bar {
    width: 90%;
  }
}/*# sourceMappingURL=App.css.map */